* {
    box-sizing: border-box;
}

    body {
        background-image: url(shop-3398039_1280.jpg);
        background-size: cover;
        background-position: center;
        color: white;
        font-family: Arial, sans-serif;
        margin: 0; 
        height: 100vh
    
}

.container {
    width: 90%;
    margin: auto;
    color:black
    justify-content: space beetween;
}

header {
    background: #333;
    color: white;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

nav ul {
    right: 0;
    list-style: none;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


.product {
    padding: 2em 0;
    width: 200px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.produit {
    border: 1px solid #ccc;
    padding: 1em 0;
    text-align: center;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
